.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  border-radius: 6px;
  background-color: @white;
  border: 1px solid @silver-grey;
  width: 210px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 101;
  right: -25px;

  &.hidden {
    display: none;
  }

  &.visible {
    display: block;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 12px 15px;
      cursor: pointer;
      background-color: @light-grey;
      margin: 0;
      border-radius: 5px;
      transition: background-color 0.2s;

      .arrow-right {
        position: absolute;
        right: 15px;
        font-size: 14px;
        color: @dark-grey;
      }

      &:hover {
        background-color: @silver;
      }

      .nested-dropdown {
        display: none;
        position: absolute;
        right: -40px;
        top: 0;
        width: 100px;
        height: 8px;
        z-index: 1;

        li {
          height: 20px;
          border-radius: 0;
          border-bottom: 1px solid @rose-brown;
        }
      }

      &.active .nested-dropdown {
        display: block;
      }
    }
  }
}
