@import "./theme.less";
@import "./modal.less";
@import "./dropdown.less";

// Grid Styles
.grid {
  display: grid;
  gap: 10px;
  padding: 20px;

  @media (orientation: portrait) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (orientation: landscape) {
    grid-template-columns: repeat(7, 1fr);
  }
}

// Grid Item Styles
.grid-item {
  padding: 20px 20px 75px;
  color: @white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .beer-image {
    width: 100%;
  }

  .beer-title {
    position: absolute;
    color: @black;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .beer-ibu {
    position: absolute;
    bottom: 25%;
    padding: 10px;
    left: 0;
    background: @black;
  }

  .beer-abv {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-top: 60px solid @black;

    display: flex;
    justify-content: right;
    align-items: end;
    color: @white;
    font-weight: bold;
    font-size: 14px;

    .beer-abv-number {
      position: relative;
      transform: translateY(-100%);
      text-align: center;
    }
  }
}
