@import "./theme.less";

.grid {
  display: grid;
  gap: 10px;
  padding: 20px;
}

@media (orientation: portrait) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (orientation: landscape) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

.grid-item {
  padding: 20px;
  color: white;
  text-align: center;
}

.grid-item.bg1 {
  background-color: @bg1;
}

.grid-item.bg2 {
  background-color: @bg2;
}

.grid-item.bg3 {
  background-color: @bg3;
}

.grid-item.bg4 {
  background-color: @bg4;
}

.grid-item.bg5 {
  background-color: @bg5;
}

.grid-item.bg6 {
  background-color: @bg6;
}

.grid-item.bg7 {
  background-color: @bg7;
}

.grid-item.bg8 {
  background-color: @bg8;
}

.grid-item.bg9 {
  background-color: @bg9;
}

.beer-image {
  width: 70px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  display: none;
}

.dropdown {
  display: none;
}

.dropdown.visible {
  display: block;
}
